<ng-container *ngIf="products && oszlopok" >
<!-- {{products|json}} -->
<div class="row">
    <div class="col-4">
        {{lblsearch}}: 
        <input type="text" [(ngModel)]="keresendo" class="form-control">
    </div>
</div>
<div class="row">
    <div *ngFor="let oszlop of oszlopok" class="col my-3 fw-bold" (click)="sort(oszlop.key)">
        <span>{{oszlop.text}}</span>
        <ng-container *ngIf="mezo==oszlop.key" >
            <span><bi *ngIf="irany" (click)="sort(oszlop.key)" name="arrow-down"></bi></span>
            <span><bi *ngIf="!irany" (click)="sort(oszlop.key)" name="arrow-up"></bi></span>
        </ng-container>
    </div>
    <div class="col my-3 fw-bold">
        {{karbantartas.actionHeaders}}
    </div>
</div>
<div class="row">
        <div *ngFor="let col of oszlopok" class="col">
            <ng-container *ngIf="col.type=='plain'; else input">
                <span>#</span>
            </ng-container>
            <ng-template #input>
                <input [type]="col.type" [(ngModel)]="newProduct[col.key]" class="form-control">
            </ng-template>
        </div>
        
     <div class="col">
        <button (click)="addProduct()" type="button" class="btn btn-primary">{{karbantartas.btnAdd}}</button>
     </div>
</div>

<div *ngFor="let termek of (products|search:keresendo)|sort:mezo:irany" class="row">
    <div *ngFor="let col of oszlopok" class="col">
        <ng-container *ngIf="col.type=='plain'; else input">
            <span>{{termek[col.key]}}</span>
        </ng-container>
        <ng-template #input>
            <input [type]="col.type" [(ngModel)]="termek[col.key]">
        </ng-template>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary" (click)="updateProduct()">{{karbantartas.btnEdit}}</button>
        <button type="button" class="btn btn-primary" (click)="deleteProduct(termek.id)">{{karbantartas.btnDelete}}</button>
    </div>
</div>
</ng-container>
