<!-- {{products|json}} -->
<div class="row">
    <div class="col-4">
        Keresés: 
        <input type="text" [(ngModel)]="keresendo" class="form-control">
    </div>
</div>
<div class="row">
    <div *ngFor="let oszlop of oszlopok" class="col my-3 fw-bold">
        <span>{{oszlop.text}}</span>
        <span><bi (click)="sort(oszlop.key,oszlop.type)" name="arrow-down-up"></bi></span>
    </div>
    <div class="col">
        Műveletek
    </div>
</div>
<div class="row">
        <div *ngFor="let col of oszlopok" class="col">
            <ng-container *ngIf="col.type=='plain'; else input">
                <span>{{col.text}}</span>
            </ng-container>
            <ng-template #input>
                <input [type]="col.type" [(ngModel)]="newProduct[col.key]" class="form-control">
            </ng-template>
        </div>
        
     <div class="col">
        <button (click)="addProduct()" type="button" class="btn btn-primary">Hozzáad</button>
     </div>
</div>

<div *ngFor="let termek of (products|search:keresendo)|sort:mezo:irany" class="row">
    <div *ngFor="let col of oszlopok" class="col">
        <ng-container *ngIf="col.type=='plain'; else input">
            <span>{{termek[col.key]}}</span>
        </ng-container>
        <ng-template #input>
            <input [type]="col.type" [(ngModel)]="termek[col.key]">
        </ng-template>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary" (click)="updateProduct()">Mentés</button>
        <button type="button" class="btn btn-primary" (click)="deleteProduct(termek.id)">Töröl</button>
    </div>

